.markdown-content {
  > :first-child {
    margin-top: 0;
  }

  > .sl-heading-wrapper:first-child {
    margin-top: 0;
  }

  > h2[id]:first-child,
  > h3[id]:first-child,
  > h4[id]:first-child,
  > h5[id]:first-child {
    margin-top: 0;
  }

  > :not(h1, h2, h3, h4, h5, h6, p, aside, .sl-heading-wrapper, ul, ol) {
    margin-bottom: 48px;
  }

  > .sl-heading-wrapper.level-h2,
  > .sl-heading-wrapper.level-h3,
  > .sl-heading-wrapper.level-h4,
  > .sl-heading-wrapper.level-h5 {
    margin-top: 48px;
    margin-bottom: 16px;
    position: relative;
  }

  > h2[id],
  > h3[id],
  > h4[id],
  > h5[id] {
    margin-top: 48px;
    margin-bottom: 16px;
    position: relative;
  }

  > p {
    margin: 22px 0;
  }

  > p a,
  > ol a,
  > ul a,
  > table a {
    color: var(--primary-text-color);
    font-weight: 500;
    text-decoration: underline;
    text-decoration-color: var(--active-state-color);
    text-underline-offset: 3px;
  }

  > p a:hover,
  > ol a:hover,
  > ul a:hover,
  > table a:hover {
    text-decoration-color: var(--hover-color);
  }

  p > code,
  li code,
  strong > code,
  th code,
  td code {
    font-family: var(--font-mono);
    font-size: 0.875rem;
    border: 0.5px solid var(--border-extra);
    padding: 2px 6px;
    color: var(--hover-color);
    background-color: var(--block-bg-color);
    border-radius: 4px;
    overflow-wrap: normal;
    word-break: normal;
    white-space: nowrap;
  }

  > blockquote {
    margin: 0 0 34px;
    border-left: 2px solid var(--hover-color);
    padding-left: 20px;
    font-style: italic;
    opacity: 0.92;
  }

  > .table-wrapper {
    position: relative;
    overflow-x: auto;
  }

  > .table-wrapper > table {
    border-collapse: collapse;
    color: var(--primary-text-color);
    width: 100%;
  }

  > .table-wrapper th,
  > .table-wrapper td {
    padding: 0.65rem;
    text-align: left;
    overflow-wrap: break-word;
    word-break: normal;
  }

  > .table-wrapper td {
    border-bottom: 1px solid var(--border-extra);
  }

  > .table-wrapper th {
    font-family: var(--font-mono);
    font-size: 0.75rem;
    text-transform: uppercase;
    border-bottom: 3px solid var(--border-extra);
  }

  > ol {
    padding-inline-start: 18px;
    margin: 0 0 24px;
  }

  > ul {
    padding: 0 10px 0 0;
    margin: 0 0 24px 14px;
  }

  > ul li {
    padding-left: 10px;
    margin-bottom: 4px;
  }
}