@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import '@fontsource/ibm-plex-sans-condensed/400.css';
@import '@fontsource/ibm-plex-sans-condensed/500.css';
@import '@fontsource/ibm-plex-sans-condensed/600.css';
@import '@fontsource/space-mono/400.css';
@import '@fontsource/space-mono/700.css';

:root {
  --font-sans: 'Inter', sans-serif;
  --font-condensed: 'IBM Plex Sans Condensed', sans-serif;
  --font-mono: 'Space Mono', monospace;
}